@charset "utf-8";
/* CSS Document */
#calculadora{
	margin:	20px auto;
	width:280px;
	height:430px;
	background:#417AE4;
	padding:10px;
	border-radius:10px;
}
input{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 0;
	padding: 0;
	pointer-events: none;

}
