@charset "utf-8";
/* CSS Document */
.container
  {
	  background:#1A9FE0;
	  margin:0px;
	  height:450px;
	  width:300px;
	  border:black 5px solid;
	  }
  .button
  { 
  background:#fff;
  margin:10px;
  height:30px;
  width:30px;
  padding:22px;
  }
  .button-barra
  {
  background:#fff;
  margin:10px;
  height:40px;
  width:277px;
  padding:5px;
 }